// app global css in SCSS form

/* Ensure visited links do not change color compared to unvisited */
a,
a:visited {
  color: inherit;
}

/* Leaflet map default styles */
@import 'leaflet/dist/leaflet.css';
